
<h1><%= t('Edit event') %></h1>
<hr/>

<%= form_for @event, html: { multipart: true }, :action => 'update' do |f| %>
  <%= render 'form' %>
  <div class="field">
   
  	<u1>
      
      <li><%= image_tag(@event.avatar_url(:large_thumb))  if @event.avatar? %></li>
      
    </u1>
  	<label>上传描述图片==></label>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <br />
  <%= submit_tag t('Save Changes') %>
  <%= link_to t('back'), events_path %>

  
<%end%>




