<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= error_messages_for :user %>

<p><label><%= I18n.t 'Login name' %>:<br/>
		<%= text_field :user, :login %>
   </label>
</p>
<p><label><%= I18n.t 'Email' %>:<br/>
		<%= text_field :user, :email %>
   </label>
</p>
<p><label><%= I18n.t 'Password' %>:<br/>
		<%= password_field :user, :password %>
   </label>
</p>
<p><label><%= I18n.t 'Password confirmation' %>:<br/>
		<%= password_field :user, :password_confirmation %>
   </label>
</p>
<p><label><%= I18n.t "User's Avatar" %>:<br/></label>
    <%= file_field   :user, :avatar %>
    <%= hidden_field :user, :avatar_cache %>
</p>
 </div>
</div>  

<style type="text/css">
      .col-md-6{
          text-align: center;
      }
</style>

