<div class="event item">
    <h3 class="title"> <%= link_to event.title, event_url(event) %> </h3>
    
    <% if event.owned_by?current_user %>
    <p>
        <%= link_to I18n.t('edit') , edit_event_url(event) %> |
        <%= link_to(I18n.t('delete'), {:action => 'destroy', :id => event}, :style => "color:red", method: :delete,  data: {confirm:  I18n.t('Are you sure?')})  %>
    </p>
    <% end %>
    
    <u1>
        <li><%=  event.occurs_on %></li>
        <li><%=  event.location  %></li>
    </u1>
    <div class="url">
        <li><%= link_to event.url.to_s %></li>
    </div>
  
  
   <div class="event_belong_to_user_info"  >
    <p>
      <li><%= User.find(event.attendees.ids).to_s if event.attendees.ids %></li>
    </p>

   </div>
 
    
   
    <div class="image_tag"  >   
        <p>
        
         <%= image_tag(event.avatar_url, :size => "540x320", :alt => "event.avatar_url empty") if event.avatar_url %>
        </p>
     
    </div> 
   

    <div class="carrierwave_upload_tag" style="text-align:center, margin：auto" >   
      <%= link_to(image_tag(event.avatar_url(:large_thumb), :size => "128x128", alt: 'event.avatar_url Image'), event.avatar.url.to_s, target: '_blank') if event.avatar_url %>
    </div> 
   

      <p>
        <div class="description">
         <%=  simple_format(h(event.description)) %>
        </div>
      </p>
     
    
   
    
</div>
