<div class="row">
  <div class="col-md-6 col-md-offset-3">

<p>
  <b><%= I18n.t('Title') %>:</b>
  <%= @event.title %>
</p>

<p>
  <b><%= I18n.t('Location') %>:</b>
  <%= @event.location %>
</p>

<p>
  <b><%= I18n.t('Occurs on') %>:</b>
  <%= @event.occurs_on %>
</p>
<p>
  <b><%= I18n.t('Url') %>:</b>
  <%= @event.url %>
</p>

<div class="event_belong_to_user_info"  >
    <p>    
      <li><%= User.find(@event.attendees.ids).to_s if @event.attendees.ids %></li>
    </p>
 
</div>
<p>
  <%= image_tag(@event.avatar_url,  :size => "540x320", :alt => "event.avatar_url empty") %>
</p>


 
<p>
  
  <%= link_to(image_tag(@event.avatar.url(:large_thumb), :size => "128x128", :alt => "event.avatar_url empty"), @event.avatar.url.to_s, target: '_blank')  if @event.avatar %>
</p>
       



<p>
  <hr />
  <b><%= I18n.t('Description') %>:</b>

  <p>  <%= @event.description %> </p>

</p>		

<% if logged_in? %> 
  <% if @event.owned_by?current_user %>
    
      <%= link_to I18n.t('edit') , edit_event_url(@event) %> 
      
  <% end %>
  

<% end %>
  
  <%=  link_to I18n.t('back'), events_path %>

</div>
</div>
<style type="text/css">
      .col-md-6{
          text-align: center;
      }
</style>

   


